body {
    background-color: grey;
}
.drum-kit {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

button {
    width: 10%;
    min-width: 90px;
    margin: 10px;
    border-radius: 10%;
    border: none;
    box-shadow: 1px 1px 0px #999,
                2px 2px 0px #999,
                3px 3px 0px #999,
                4px 4px 0px #999,
                5px 5px 0px #999,
                6px 6px 0px #999;   
}

.click {
    color: red;
    background-color:rgba(207, 202, 202, 0.925);
    animation-name: buttonPress;
    animation-duration: .2s;
}

@keyframes buttonPress {
    from {box-shadow: 0 0 5px red,
            1px 1px 0px red,
            2px 2px 0px red,
            3px 3px 0px red,
            4px 4px 0px red,
            5px 5px 0px red,
            6px 6px 0px red;
        }
    to {
        box-shadow: 0 0 30px red,
        1px 1px 0px grey,
        2px 2px 0px grey,
        3px 3px 0px grey;
        transform: translateY(2px);
        transform: translateX(2px);
        }
}

@media (max-width: 955px) {
    .drum-kit {
        height: 0;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}