body {
    background: url(./assets/images/drum-set.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;  
}

header {
    border-bottom: 1px solid white;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    margin: 20px 0 20px 10px;
}

.about-btn {
    height: 50px;
}

button:focus {
    border: 2px solid rgba(255, 0, 0, .75);
    outline:none;
}
.about-btn:active {
    color: red;
    background-color:rgba(54,69,79, 0.95);
    border: 2px solid rgba(255, 0, 0, .75);
    animation-name: buttonPress;
    animation-duration: .15s;
}

.drum-kit {
    width: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;  
}

button {
    background-color: rgb(54,69,79);
    width: 10%;
    color: white;
    min-width: 90px;
    margin: 10px;
    border-radius: 10%;
    border: 2px solid #999;
    box-shadow: 1px 1px 0px #999,
                2px 2px 0px #999,
                3px 3px 0px #999,
                4px 4px 0px #999,
                5px 5px 0px #999,
                6px 6px 0px #999;   
}

button p {
    color: orange;
}

.click {
    color: red;
    background-color:rgba(54,69,79, 0.95);
    border: 2px solid rgba(255, 0, 0, .75);
    animation-name: buttonPress;
    animation-duration: .15s;
}

@keyframes buttonPress {
    from {box-shadow: 0 0 5px red,
            1px 1px 0px red,
            2px 2px 0px red,
            3px 3px 0px red,
            4px 4px 0px red,
            5px 5px 0px red,
            6px 6px 0px red;
        }
    to {
        box-shadow: 0 0 30px rgba(255, 0, 0, .75),
        1px 1px 0px grey,
        2px 2px 0px grey,
        3px 3px 0px grey;
        transform: translateY(2px);
        transform: translateX(2px);
        
        }
}

@media (max-width: 400px) {
    .drum-kit {
        width: 400px;    
    }
}

@media (max-width: 300px){
    .drum-kit {
        width: 300px;
    }
    header {
        margin-bottom: 5px;
    }
    header h1 {
        letter-spacing: 5px;
    }
}