body {
    background-color: grey;
}
.drum-kit {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

button {
    width: 10%;
    min-width: 90px;
    margin: 10px;
}

@media (max-width: 955px) {
    .drum-kit {
        height: 0;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
}